################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

*.lock
/.vs/FileUploader/v15/Server/sqlite3
/.vs/FileUploader/v15
/.vs/FileUploader2/v15
/.vs
